/*подключение шрифтов из гугл по ссылке. шрифт Rubik*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    --color-primary: #262A2F;
    --color-accent: #FF5533;
    --color-grey: #868686;
    --color-white: #FFFFFF;

    --grid-column-width: 101px;
    --grid-gap:20px;
}
*{
/*    сбрасываем все браузерные стиле в том числе и дисплей, а его надо вернуть*/
    all: unset;
    display: revert; /*возвращаем дисплей*/
}
body{
    /*подключаем ширифт Rubik и если он не загрузится то будет ширифт без засечик*/
    font-family: 'Rubik', sans-serif;
    background-color: #EBEBEB;
    font-size: 22px;
    font-weight: 400;
}
/*пишем класс для гридов*/
.grid{
    display: grid;
    grid-template-columns: repeat(12, var(--grid-column-width));
    gap: var(--grid-gap);
/*gap используется для задания расстояния (промежутков)
между строками и колонками в контейнерах сетки (grid) или флекс-контейнерах (flex).*/
}
/*создаем класс для контента( контейнер, чтобы сделать его по центру всегда)*/
.container{
    max-width: 1435px;
    margin: 0 auto;
    /*расшифровка margin 0- верхний и нижний отступы равны нулю.
    auto - боковые (левый и правый) отступы автоматически распределяются,
    чтобы элемент оказался в центре контейнера по горизонтали.*/
}
.header{
    padding-top: 38px;
    padding-bottom: 150px;
}

/*делаем лого во все 4 колонки и в классе navigation__log делаем внутрений отступ 32px*/
.navigation__image{
    width: 100%;
}
.navigation__list{
    list-style: none; /*спользуется для удаления стандартных маркеров*/
    display: flex;
}
.navigation__item{
    margin-right: 60px;
}
.navigation__item:last-child{
    margin-right: 0;
}
.navigation__link{
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;/*cursor — это свойство, которое контролирует вид курсора
    при взаимодействии с элементом
    pointer — это значение свойства, которое изменяет курсор на руку,
     как это бывает при наведении*/
}
.header__navigation .navigation__link{
    color: var(--color-primary);
}
.header__navigation .navigation__link--active{
    color: var(--color-accent);
}
.header__navigation .navigation__link:hover{
    color: var(--color-accent);
}
.header__navigation .navigation__log{
    grid-column: span 4; /* это значение, которое говорит элементу
    занять 4 колонки, начиная с текущего положения в сетке.*/
    padding-right: 32px;
}
.header__navigation .navigation__list{
    grid-column: 5/-1; /*значит, что растягиваем грид с 5 по -1 колонку*/
}
/*.header__navigation .navigation__link{*/
/*    color: var(--color-primary);*/
/*}*/
.articles{
    margin-bottom: 135px;
}
.articles__big-column{
    grid-column: span 9;
}
.articles__small-column{
    grid-column: 10/-1;
}
.article-category{
    font-size: 14px;
    line-height: 17px;
    color: var(--color-accent);
    text-transform: uppercase;
    font-weight: 700;
}
.article-source{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-grey);
    text-transform: uppercase;
}
.article-date{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-accent);
    text-transform: uppercase;
}
/*делаем грид для колонки с новостями( с изобрадением и текстом)*/
.main-article{
    margin-bottom: 95px;
    display: grid;
    grid-template-columns: repeat(9,var(--grid-column-width));
    gap: var(--grid-gap);
}
.main-article:last-child{
    margin-bottom: 0;
}
.main-article__image-container{
    /*сли дочерний элемент имеет position: absolute, он будет позиционироваться
    относительно родительского элемента с position: relative (или absolute/fixed).*/
    position: relative;/*Позиционирует элемент относительно его обычного положения,
    сохраняя место в потоке.*/
    grid-column: span 3;
    min-height: 185px;
    max-height: 344px;
}
.main-article__content{
    grid-column: 4/-1;
    padding-right: 63px;
}
.main-article__image{
    position: absolute;/*Убирает элемент из потока и позиционирует его
    относительно ближайшего родителя с relative.*/
    width: 100%;
    height: 100%;
    object-fit: cover;
/*    Свойство object-fit в CSS определяет, как содержимое, например изображение или видео,
 должно масштабироваться, чтобы поместиться в контейнере.
 cover заставляет изображение заполнить весь контейнер, даже если его размеры (ширина и высота)
  не совпадают с размерами контейнера. она растягивается пропорционально*/

}
.main-article__category{
    /*отвечает за отступы*/
    margin-bottom: 7px;
}
.main-article__title{
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 34px;

/* делаем ограниценние по кол-ву строк в заголовке, тк данные могут приходить разные */
    display: -webkit-box; /*Браузер сначала создаёт контейнер с текстом, который отображается в виде WebKit-блока */
    /*у бразеров есть возможность, без костылей отображать максим. кол-во строк*/
    -webkit-line-clamp: 3;/*Текст ограничивается тремя строками*/
    -webkit-box-orient: vertical; /*Ориентация контейнера задаётся как вертикальная*/
    overflow: hidden;/*Всё, что выходит за пределы трёх строк, скрывается*/

}
.main-article__text{
    margin-bottom: 34px;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-primary);

    /* делаем ограниценние по кол-ву строк в заголовке, тк данные могут приходить разные */
    display: -webkit-box;
    /*у бразеров есть возможность, без костылей отображать максим. кол-во строк*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*верстаем полоску вертикальную*/
.small-article{
    margin-bottom: 35px;
    border-left: 9px solid var(--color-primary);
    padding-left: 11px;
}
.small-article:last-child{
    margin-bottom: 0;
}
.small-article__title{
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary);

    /* делаем ограниценние по кол-ву строк в заголовке, тк данные могут приходить разные */
    display: -webkit-box;
    /*у бразеров есть возможность, без костылей отображать максим. кол-во строк*/
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*если сразу после даты идет источник, то добавляем к источнику точку*/
.article-date + .article-source:before{
    content: ' • ';
    /*Добавляет содержимое перед элементом .article-source с использованием псевдоэлемента :before.
Содержимое, добавляемое перед .article-source, — это символ "•" (точка).*/
}


.footer{
    padding-top: 22px;
    padding-bottom: 56px;
    background-color: var(--color-primary);
}
.footer__columne{
    display: flex;
    justify-content: space-between;
    /*Значение space-between:
Элементы равномерно распределяются по главной оси.
Первый элемент прижимается к началу контейнера.
Последний элемент прижимается к концу контейнера.
Пространство между элементами распределяется равномерно.*/
    align-items: baseline;
/*Элементы выравниваются по их базовым линиям текста.
Базовая линия текста — это воображаемая линия, на которой "стоят"
буквы (например, буква x) в тексте.*/
}
.footer__text{
    font-size: 24px;
    line-height: 28px;
    color: var(--color-white);
}
.footer__link{
    color: var(--color-accent);
    font-weight: 700;
}
.footer__link:hover{
    opacity: 0.8;
/*Свойство opacity задаёт прозрачность элемента.
Значение 0.8 означает, что элемент становится на 20% прозрачнее
(где 1 — полностью непрозрачно, а 0 — полностью прозрачно).*/
}
.footer__copyright{
    font-size: 24px;
    line-height: 28px;
    color: var(--color-grey);
}
.footer__navigation{
    margin-bottom: 47px;
    align-items: center;
/* для того, чтобы текст в футере-навигации был по центру относительно иконки( и в целом в центре) */
}
.footer__navigation .navigation__log{
    padding-right: 56px;
    grid-column: span 2;
}
.footer__navigation .navigation__list{
    grid-column: 3/-1;
}
.footer__navigation .navigation__link{
    color: var(--color-white);
}
.footer__navigation .navigation__link--active{
    color: var(--color-accent);
}
.footer__navigation .navigation__link:hover{
    color: var(--color-accent);
}